
#homeIcon:hover {
    transform: scale(1.2);
}

#profilePic:hover {
    transform: scale(1.2);
}

.draggable {
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    cursor: move;
}

.draggable.dragging {
    opacity: 0.5;
}
