<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>File Storage - Login</title>
    <link rel="icon" type="image/png" th:href="@{/images/folder_icon.png}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous">
</head>
<body class="login-bg d-flex align-items-center justify-content-center vh-100">
<div class="card shadow-sm p-4" style="width: 100%; max-width: 400px;">
    <div class="text-center mb-4">
        <img th:src="@{/images/folder_icon.png}" alt="Logo" width="60" class="mb-2">
    </div>
    <h1 class="text-center mb-4 display-4 fw-bold text-primary">File Storage</h1>
    <h3 class="text-center mb-4">Login</h3>
    <form th:action="@{/login}" method="post">
        <div class="mb-3">
            <label class="form-label">Username</label>
            <!-- TODO: change to email address when implemented -->
            <input type="text" class="form-control" name="username" required/>
        </div>
        <div class="mb-3">
            <label for="passwordField" class="form-label">Password</label>
            <div class="input-group">
                <input type="password" class="form-control" id="passwordField" name="password" required>
                <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                    <img th:src="@{/images/show.png}" width="24" height="24" alt="Home" class="me-2"
                         id="showPasswordIcon">
                </button>
            </div>
        </div>
        <script>
            // Toggle password visibility
            const passwordField = document.getElementById('passwordField');
            const togglePassword = document.getElementById('togglePassword');
            togglePassword.addEventListener('click', () => {
                const type = passwordField.type === 'password' ? 'text' : 'password';
                passwordField.type = type;
                const img = document.getElementById("showPasswordIcon");
                img.src = type === 'password' ? "/images/show.png" : "/images/hide.png";
            });
        </script>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
        <div th:if="${param.error}" class="alert alert-danger mt-3 text-center">
            Invalid username or password.
        </div>
    </form>
    <p class="text-center mt-3 mb-0">
        Don’t have an account?
        <a th:href="@{/register}" class="text-decoration-none">Register here</a>
    </p>
</div>
</body>
</html>
